<head>
    <title>LEVANTAMIENTO DE INFORMACIÓN FIREWALL SOPHOS XGS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style/page.css">
</head>